apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "10"
  name: allow-argocd
  namespace: {{ .Values.namespace }}
rules:
- apiGroups: ["quay.redhat.com"]
  resources:
  - quayregistries
  verbs:
  - patch
