apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "10"
  name: allow-argocd
  namespace: {{ .Values.namespace }}
rules:
- apiGroups: [""]
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - patch
- apiGroups: ["batch"]
  resources:
  - jobs
  verbs:
  - create
  - delete
  - patch
- apiGroups: ["quay.redhat.com"]
  resources:
  - quayregistries
  verbs:
  - create
  - delete
  - patch
- apiGroups: ["route.openshift.io"]
  resources:
  - routes
  - routes/custom-host
  verbs:
  - create
  - delete
  - patch
