apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.cluster.name }}
rules:
- apiGroups:
  - cluster.open-cluster-management.io
  resources:
  - "*"
  verbs:
  - create
  - delete
  - patch
- apiGroups:
  - register.open-cluster-management.io
  resources:
  - managedclusters/accept
  resourceNames:
  - {{ .Values.cluster.name }}
  verbs:
  - update
