apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bootstrap-minion-apps
  namespace: openshift-gitops
spec:
  destination:
    namespace: openshift-gitops
    server: https://kubernetes.default.svc
  project: default
  source:
    directory:
      recurse: true
    path: provider-aws/groups/apps
    repoURL: https://github.com/sebastian-colomar/hive-through-gitops
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
