apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: allow-argocd
  namespace: open-cluster-management-policies
rules:
- apiGroups: ["policy.open-cluster-management.io"]
  resources:
  - placementbindings
  - policies
  verbs:
  - create
  - delete
  - patch
